.Main-Password-Container {
  width: 100%;
  height: 100vh;
}
.Header {
  background: rgb(233 231 231);
  width: 100%;
  height: 95px;
  display: flex;
}
.Image-Container {
  width: 485px;
  text-align: right;
}
.Side-Bar-Button {
  width: 700px;
  text-align: right;
}
.mainContainer{
  background-color: gray;
  width:50%;
  float: right;
}
h5{
font-size: 1rem !important;
}
h4{
font-size: 1rem !important;
}
.standard-select{
font-size: 0.8rem !important;
}
.cardForm {
  width: 500px;
  height: 300px;
  border-radius: 20px !important;
  background-color:#fff;
  border: 1px solid #d2d8dd;
  margin: 50px 20px;
}
.cardFormimport {
  width: 500px;
  height: 500px;
  border-radius: 20px !important;
  background-color:#fff;
  border: 1px solid #d2d8dd;
  margin-top: 58px;
}
.titleStyle{
  margin-top: 20px;
  text-align: left;
  margin-left: 60px;
  color: #5d5d5d;
}
.passwordStyle {
  /* font-size: 17px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 20px; */
  width: 80%;
  height: 20%;
  background-color: transparent;
  border: 1px solid #d2d8dd;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  /* outline: none;
  border: none;
  
  line-height: 0px; */
}
.paraContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}
.lastButtons {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 80px;
  
}
.firstButton {
  width: 200px;
  height: 70px;
  border-radius: 60px !important;
  background-color: #EFEFEF !important;
}
.secondButton {
  border-radius: 60px !important;
  width: 200px;
  margin-left: 17px;
  background: #4398e1;
}
.paragraphStyle{
  padding: 20px;
  color: #808080;
  padding-left: 40px;
  border-bottom: 1px solid #d2d8dd;
  text-align: left;
}
.dropDownContainer{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 40px;    
}
.selectTitleStyle{
  color:#4d4d4d;
  font-size: 20px;
}
.privateTextStyle{
  color:#4d4d4d;
  font-size: 20px;

}
.privateKeyContainer{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 40px;    
}
.privateInputStyle{
  width: 80%;
  height: 60px;
  margin-top: 20px;
  border: 1px solid #d2d8dd;
  border-radius: 10px;
  margin-bottom: 20px;
}
.importTitleStyle{
  text-align: left;
  margin-left: 40px;
  margin-top: 10px;
  color:#5d5d5d;
}
.dropDownSelectStyle{
  width: 210px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-radius: 10px;
  border:1px solid #d2d8dd;
}



/* -------------------------------setting child pages pages-------------------------------------- */
.headergeneralStyle{
  text-align: left;
 }
 .headerNetworkStyle{
  display: flex;
  flex-direction: 'row';
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
 }

.generalHeaderStyle{
 color:#4d4d4d;
 font-weight:400px;
 padding: 20px;
 border-bottom: 1px solid #4d4d4d;
}
.networkHeaderStyle{
 color:#4d4d4d;
 font-weight:400px;
 padding: 20px;
 text-align: left;

}
.headerCurrencyStyle{
 padding: 20px;
}
.inputStyle{
 width: 80%;
 height: 40px;

}
.standard-select{
   width: 40%;
   height: 40px;
   border: 2px solid #4d4d4d;
   border-radius: 10px;
   font-size:17px;
}
.dropDownstyle{
 margin-left: 20px;
 margin-top: 10px;
}
.redioButtonContainer{
 margin-left: 40px;
}
.redioButtonContainer input{
 display: block;
 margin-top: 5px;
}
.redioButtonContainer{
 display: flex;
 margin-top: 20px;
}
.redioButtonContainer label{
 padding-left: 10px;
 padding-right: 30px;
 color: #4d4d4d;
}
.networkContaoner{
 display: flex;
 flex-direction: 'row';
 justify-content: space-between;

}
.networkLeftContainer{
 display: flex;
 flex-direction: column;
}
.networkRightcontainer{
 display: flex;
 flex-direction: column;

}
.leftDataStyle{
 margin: 20px;
}
.rightDataStyle{
 margin: 8px;
}
.leftLableStyle{
 font-size: 20px;
 color: #4d4d4d;
 font-weight: lighter;
 float: left;
}
.rightLableStyle{
 color: black;
 font-weight: bold;
float: left;
}
.rightDataStyle input{
 display: block;
}
.inputStyle{
 width: 100%;
 border-radius:10px;
}
.borderStyle{
 border-bottom: 1px solid gray;
}
.cancelSaveStyle{
 margin-top: 20px;
}

@media screen and (max-width:420px) {

.cancelSaveStyle button{
 width: 4rem;
}
.container{
  width: 95% !important;
}
.middle-content {
  display: inline-block !important;
}   
}
