.Main-Token-Container {
    width: 100%;
    height: 200vh;
}
.headerStyle {
    background: rgb(233 231 231);
    width: 100%;
    height: 95px;
    display: flex;
}
.ImageContainer {
    width: 485px;
    text-align: right;
}
.Side-Bar-Button {
    width: 700px;
    text-align: right;
}


.importContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.cardFormImport {
    width: 500px;
    height: 600px;
    border-radius: 20px !important;
    background-color:#fff;
    border: 1px solid #d2d8dd;
    margin-top: 58px;
}
.paraContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.importTitleStyle{
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
}
.paragraphStyle{
    padding: 20px;
    color: #808080;
    padding-left: 40px;
    border-bottom: 1px solid #d2d8dd;
    text-align: left;
}
.privateKeyContainerr{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1px;    
}
.privateTextStyle{
    color:#4d4d4d;
    font-size: 20px;

}
.privateInputStyle{
    width: 80%;
    height: 60px;
    margin-top: 20px;
    border: 1px solid #d2d8dd;
    border-radius: 10px;
    margin-bottom: 20px;
}
.lastButton {
    display: flex;
    justify-content: center;
    background-color: white;
    /* margin-top: 80px; */
}
.firstButton {
    width: 200px;
    height: 70px;
    border-radius: 60px !important;
    background-color: #EFEFEF !important;
}
.addTokenButton{
    width:82%;
    height: 70px;
    border-radius: 60px !important;
    background-color: #037dd6 !important;
    /* align-items: center; */
    margin-left: 35px;
    color: white !important;
}