.Bitcoin-Container{
    width:100%;
    height:55px;
    display:flex;
    justify-content:center;
    margin-top:40px;
    
 }
 .Bitcoin-Icon{
     text-align:center;
      width:50px;
     font-size: 32px;
     background-color:#e67e22;
     padding: 9px;
     border-radius: 100%;
     color:white;
 }
 .Bitcoin-Content{
     width:1290px;
 }
 .Bitcoin-Content b{
     padding:12px;
 }
 .Bitcoin-Content p{
     padding:12px;
 }
 
 /* Ethereum css start here */
 .Ethereum-Container{
     width:100%;
     height:55px;
     display:flex;
     justify-content:center;
     
  }
  .Ethereum-Icon{
      text-align:center;
      width:50px;
      font-size: 32px;
      background-color:silver;
      padding: 9px;
      border-radius: 100%;
  }
  .Ethereum-Content{
      width:1290px;
  }
  .Ethereum-Content b{
      padding:12px;
  }
  .Ethereum-Content p{
      padding:12px;
  }
 
 /* bitcoin cash css start here */
 .BitcoinCash-Container{
     width:100%;
     height:55px;
     display:flex;
     justify-content:center;
     
  }
  .BitcoinCash-Icon{
      text-align:center;
      width:50px;
      font-size: 32px;
      background-color:#32ff7e;
      padding: 9px;
      border-radius: 100%;
      color:white;
  }
  .BitcoinCash-Content{
      width:1290px;
  }
  .BitcoinCash-Content b{
      padding:12px;
  }
  .BitcoinCash-Content p{
      padding:12px;
  }
 
  /* Bnb css start here */
  .Bnb-Container{
     width:100%;
     height:55px;
     display:flex;
     justify-content:center;
     
  }
  .Bnb-Icon{
      text-align:center;
      width:50px;
      font-size: 32px;
      background-color:#fbc531;
      padding: 9px;
      border-radius: 100%;
  }
  .Bnb-Content{
      width:1290px;
  }
  .Bnb-Content b{
      padding:12px;
  }
  .Bnb-Content p{
      padding:12px;
  }
 
  /* smart chain css start here */
  .SmartChain-Container{
     width:100%;
     height:55px;
     display:flex;
     justify-content:center;
     
  }
  .SmartChain-Icon{
      text-align:center;
      width:50px;
      font-size: 32px;
      background-color:black;
      padding: 9px;
      border-radius: 100%;
  }
  .SmartChain-Content{
      width:1290px;
  }
  .SmartChain-Content b{
      padding:12px;
  }
  .SmartChain-Content p{
      padding:12px;
  }



  /* -----------Mayur QR code css------------- */
  .qrContainer{
    height: 60%;
    border-radius: 15px;
    padding-top: 30px; 
    padding-bottom: 30px; 
    margin: 0 auto;
  

}
.qr-box{
  width: 30%;
 margin-top: 10px;
 background-color: rgba(255, 255, 255, 0.667);
 border: 1px solid rgb(221, 221, 221);
 margin: 0 auto;
 border-radius: 10px;
 padding: 20px;
}

.qr-box img{     
    padding: 20px;     
    width: 20rem;
    height: auto;
    
}
button{
    border: none;
    width: 16rem;
}

button i{
  color: #fff;    
}

.fa {     
    font-size: 20px;     
}
button:hover{
  color: rgb(48, 75, 228);
  background-color: #aaa;
}

.copybutton{
    background-color:#3275bb;
    width:60px;
    height: 60px;
    border-radius: 60px;
    margin: 10px;
}
@media screen and (max-width:420px) {
  .qr-box{
      width: 90%;}
}
.addStyle{
    font-weight: bold;

}
.qr-box p{
    word-wrap: break-word;

}