* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.awaits_css i {
    position: relative;
    padding: 7px;
    top: 43px;
    left: 8px;
}
.awaits_css input {
    padding: 12px 44px;
    background: #d8d8d8;
}


.myforms {
    border: 1px solid #dcdcdc;
    padding: 20px 20px;
    border-radius: 10px;
}





.Main-Password-Container {
    width: 100%;
    height: 100vh;
}
.password_Cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pass_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 209px;
}
.form_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 465px;
    width: 1350px;
    margin-top: 39px;
}
.create_pass{
    font-size: 43px;
    font-weight: 400;
    align-items: center;
    color: #314266;
}
.pass_section{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-left: 281px!important;
    margin-top: -4px;
    color: rgb(35 44 51 / 78%);
}
.pass_input{
    border: 2px solid #232c3385;
    width: 260px;
    border-radius: 5px!important;
    padding-bottom: 10px;
    margin-top: 5px;
}
.form-footer{
    display: flex;
    width: 170px;
    margin-top: 38px;
    margin-left: -112px;
}
.create_btn{
    padding: 7px 14px;
    background-color: #314266;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #f8f9fa;
    cursor: pointer;
}
.err-msg{
    float: left;
    position: relative;
    left: 4%;
    top: 1%;
    font-size: 17px;
}
.Header {
    background: rgb(233 231 231);
    width: 100%;
    height: 95px;
    display: flex;
}

.Image-Container {
    width: 485px;
    text-align: right;
}

.Image-Container img {
    margin-top: 20px;
}

.Side-Bar-Button {
    width: 700px;
    text-align: right;
}

/* .Side-Bar-Button::after {
    content: ".....";
    width: 10px;
    font-size: 12px;
    background-color: black;
    clip-path: polygon(0 0, 44% 100%, 100% 0);
    margin-left: 10px;
} */

.Side-Bar-Button button {
    width: 200px;
    height: 39px;
    border: 1px solid #030303;
    outline: none;
    border-radius: 30px;
    margin-top: 30px;
}

.Container1 {
    width: 345px;
    height: 500px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c7c7c7;
    border-radius: 10px !important;
    box-shadow: 5px 10px 8px 10px #888888 !important;
    background: #fff;
    margin-top: 30px;
    margin-left: 36rem;
}

.Image-side {
    height: 50px !important;
    width: 40px !important;
}

.Headding {
    font-size: 35px !important;
    text-align: center;
    margin-top: 15px !important;
    word-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    color: #303433;
}

.Border-Bottom {
    width: 130px;
    height: 4px;
    background-color: #843bc7;
    margin-top: 20px;
    margin-left: 75px;

}

.Bubbton {
    border-radius: 30px !important;
    height: 40px;
    color: #fff;
    padding: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    background: #15a0e1;
    cursor: pointer;
    transition: opacity 0.4s;
    width: 170px;
    margin-top: 30px !important;
    margin-left: 7px !important;
    text-align: center !important;
}



.Password-Container {
    width: 280px;
    height: 47px;
    display: "flex";
    background-color: #bdc3c7;
    border-radius: 30px;
}


.Lock-Icon {
    color: black;
    font-size: 23px;
    line-height: 30px;
    margin-left: 20px;
}

.Password {
    font-size: 17px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    line-height: 0px;
}

.Text {
    text-align: center;
    font-size: 1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
    white-space: 1px;
    margin-top: 20px;
}


.One {
    font-size: 14px !important;
    color: #2a8cdc;
    margin-top: 30px;
}



.Three {
    font-size: 14px !important;
    color: #2a8cdc;
    margin-top: 20px !important;

}

.SSpan {
    color: black;
    margin-right: 4px !important;
}

.Span {
    color: black;
}

@media only screen and (max-width: 1200px) {
    .Dom {
        width: 100%;
        height: 100vh;
    }

    .Header {
        background: rgb(233 231 231);
        width: 100%;
        height: 85px;
        display: flex;
    }

    .Image-Container {
        width: 435px;
        text-align: right;
    }

    .Image-Container img {
        margin-top: 18px;
    }

    .Side-Bar-Button {
        width: 660px;
        text-align: right;
    }
/* 
    .Side-Bar-Button::after {
        content: ".....";
        width: 8px;
        font-size: 10px;
        background-color: black;
        clip-path: polygon(0 0, 44% 100%, 100% 0);
        margin-left: 8px;
    } */

    .Side-Bar-Button button {
        width: 162px;
        height: 37px;
        border: 1px solid #8e44ad;
        outline: none;
        border-radius: 30px;
        margin-top: 21px;
        margin-left: 2rem;
    }

    .Container1 {
        width: 325px;
        height: 450px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #c7c7c7;
        border-radius: 10px !important;
        box-shadow: 5px 10px 8px 10px #888888 !important;
        background: #fff;
        margin-top: 27px;
        margin-left: 27rem;
    }

    .Image-side {
        height: 45px !important;
        width: 45px !important;
    }

    .Headding {
        font-size: 32px !important;
        text-align: center;
        margin-top: 12px !important;
        word-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        color: #303433;
    }

    .Border-Bottom {
        width: 120px;
        height: 3px;
        background-color: #843bc7;
        margin-top: 18px;
        margin-left: 70px;

    }

    .Bubbton {
        border-radius: 30px !important;
        height: 35px;
        color: #fff;
        padding: 12px 60px;
        letter-spacing: 2px;
        font-weight: bold;
        background: #15a0e1;
        cursor: pointer;
        transition: opacity 0.4s;
        width: 150px;
        margin-top: 28px !important;
        margin-left: 50px !important;
        text-align: center !important;
    }



    .Password-Container {
        width: 260px;
        height: 42px;
        display: "flex";
        background-color: #bdc3c7;
        border-radius: 30px;
    }
  
    }

    .Lock-Icon {
        color: black;
        font-size: 23px;
        line-height: 27px;
        margin-left: 17px;
    }

    .Password {
        font-size: 14px;
        font-weight: 450;
        margin-left: 17px;
        width: 75%;
        height: 90%;
        outline: none;
        border: none;
        /* background-color: transparent; */
        line-height: 0px;
        background-color: #bdc3c7;
    }

    .Text {
        text-align: center;
        font-size: 1em;
        line-height: 25px;
        margin-bottom: 30px;
        color: #696969;
        white-space: 1px;
        margin-top: 17px;
    }


    .One {
        font-size: 14px !important;
        color: #2a8cdc;
        margin-top: 27px;
    }



    .Three {
        font-size: 12px !important;
        color: #2a8cdc;
        margin-top: 17px !important;

    }

    .SSpan {
        color: black;
        margin-right: 4px !important;
    }

    .Span {
        color: black;
    }
    .Error{
       line-height: 3rem;
       color: red;
    }


@media only screen and (max-width: 1000px) {
    .Dom {
        width: 100%;
        height: 100vh;
    }

    .Header {
        background: rgb(233 231 231);
        width: 100%;
        height: 75px;
        display: flex;
    }

    .Image-Container {
        width: 6rem;
        text-align: right;
    }

    .Image-Container img {
        margin-top: 15px;
    }

    .Side-Bar-Button {
        width: 630px;
        text-align: right;
    }

    /* .Side-Bar-Button::after {
        content: ".....";
        width: 7px;
        font-size: 10px;
        background-color: black;
        clip-path: polygon(0 0, 44% 100%, 100% 0);
        margin-left: 7px;
    } */

    .Side-Bar-Button button {
        width: 168px;
        height: 39px;
        border: 1px solid #0d0c0e;
        outline: none;
        border-radius: 30px;
        margin-top: 25px;
    }

    .Container1 {
        width: 300px;
        height: 430px;
        padding: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #c7c7c7;
        border-radius: 10px !important;
        box-shadow: 5px 10px 8px 10px #888888 !important;
        background: #fff;
        margin-top: 24px;
        margin-left: 25rem;
    }

    .Image-side {
        height: 40px !important;
        width: 40px !important;
    }

    .Headding {
        font-size: 30px !important;
        text-align: center;
        margin-top: 10px !important;
        word-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        color: #303433;
    }

    .Border-Bottom {
        width: 100px;
        height: 3px;
        background-color: #843bc7;
        margin-top: 15px;
        margin-left: 65px;

    }

    .Bubbton {
        border-radius: 30px !important;
        height: 33px;
        color: #fff;
        padding: 12px 55px;
        letter-spacing: 2px;
        font-weight: bold;
        background: #15a0e1;
        cursor: pointer;
        transition: opacity 0.4s;
        width: 130px;
        margin-top: 28px !important;
        margin-left: 50px !important;
        text-align: center !important;
    }



    .Password-Container {
        width: 230px;
        height: 38px;
        display: "flex";
        background-color: #bdc3c7;
        border-radius: 30px;
    }
    
    }

    .Lock-Icon {
        color: black;
        font-size: 23px;
        line-height: 24px;
        margin-left: 14px;
    }

    .Password {
        font-size: 12px;
        font-weight: 430;
        margin-left: 14px;
        width: 70%;
        height: 85%;
        outline: none;
        border: none;
        background-color: transparent;
        line-height: 0px;
    }

    .Text {
        text-align: center;
        font-size: 1em;
        line-height: 23px;
        margin-bottom: 28px;
        color: #696969;
        white-space: 1px;
        margin-top: 14px;
    }


    .One {
        font-size: 14px !important;
        color: #2a8cdc;
        margin-top: 24px;
    }



    .Three {
        font-size: 10px !important;
        color: #2a8cdc;
        margin-top: 15px !important;

    }

    .SSpan {
        color: black;
        margin-right: 4px !important;
    }

    .Span {
        color: black;
    }
    .brandName{
        padding: 1rem;
    }


@media only screen and (max-width: 850px) {
    .Dom {
        width: 100%;
        height: 100vh;
    }

    .Header {
        background: rgb(233 231 231);
        width: 100%;
        height: 65px;
        display: flex;
    }

    .Image-Container {
        width: 6rem;
        text-align: right;
    }

    .Image-Container img {
        margin-top: 12px;
    }

    .Side-Bar-Button {
        width: 630px;
        text-align: right;
    }

    /* .Side-Bar-Button::after {
        content: ".....";
        width: 6px;
        font-size: 10px;
        background-color: black;
        clip-path: polygon(0 0, 44% 100%, 100% 0);
        margin-left: 6px;
    } */

    .Side-Bar-Button button {
        width: 164px;
        height: 37px;
        border: 1px solid #0d0c0e;
        outline: none;
        border-radius: 30px;
        margin-top: 22px;
    }
    }

    .Container1 {
        width: 270px;
        height: 400px;
        padding: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #c7c7c7;
        border-radius: 10px !important;
        box-shadow: 5px 10px 8px 10px #888888 !important;
        background: #fff;
        margin-top: 22px;
        /* margin-left: 2.8rem !important; */
    }

    .Image-side {
        height: 38px !important;
        width: 38px !important;
    }

    .Headding {
        font-size: 28px !important;
        text-align: center;
        margin-top: 8px !important;
        word-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        color: #303433;
    }

    .Border-Bottom {
        width: 90px;
        height: 3px;
        background-color: #843bc7;
        margin-top: 13px;
        margin-left: 45px;

    }

    .Bubbton {
        border-radius: 30px !important;
        height: 28px;
        color: #fff;
        padding: 7px 27px;
        letter-spacing: 2px;
        font-weight: bold;
        background: #15a0e1;
        cursor: pointer;
        transition: opacity 0.4s;
        width: 110px;
        margin-top: 25px !important;
        /* margin-left: 45px !important; */
        text-align: center !important;
    }



    .Password-Container {
        width: 210px;
        height: 33px;
        display: "flex";
        background-color: #bdc3c7;
        border-radius: 30px;
    }

    .Lock-Icon {
        color: black;
        font-size: 21px;
        line-height: 21px;
        margin-left: 11px;
    }

    .Password {
        font-size: 10px;
        font-weight: 410;
        margin-left: 11px;
        width: 65%;
        height: 75%;
        outline: none;
        border: none;
        background-color: transparent;
        line-height: 0px;
    }

    .Text {
        text-align: center;
        font-size: 1em;
        line-height: 21px;
        margin-bottom: 25px;
        color: #696969;
        white-space: 1px;
        margin-top: 11px;
    }


    .One {
        font-size: 12px !important;
        color: #2a8cdc;
        margin-top: 21px;
    }



    .Three {
        font-size: 9px !important;
        color: #2a8cdc;
        margin-top: 12px !important;

    }

    .SSpan {
        color: black;
        margin-right: 4px !important;
    }

    .Span {
        color: black;
    }



@media only screen and (max-width: 750px) {
    .Dom {
        width: 100%;
        height: 100vh;
    }

    .Header {
        background: rgb(233 231 231);
        width: 100%;
        height: 65px;
        display: flex;
    }

    .Image-Container {
        width: 10rem !important;
        text-align: right;
    }

    .Image-Container img {
        width: 10rem;
        margin-top: 13px;
    }

    .Side-Bar-Button {
        width: 600px;
        text-align: right;
    }

    /* .Side-Bar-Button::after {
        content: ".....";
        width: 5px;
        font-size: 8px;
        background-color: black;
        clip-path: polygon(0 0, 44% 100%, 100% 0);
        margin-left: 7px;
    } */

    .Side-Bar-Button button {
        width: 162px;
        height: 37px;
        border: 1px solid #121013;
        outline: none;
        border-radius: 30px;
        margin-top: 21px;
        margin: 21px !important;

    }

    .Container1 {
        width: 280px;
        height: 400px;
        padding: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #c7c7c7;
        border-radius: 10px !important;
        box-shadow: 5px 10px 8px 10px #888888 !important;
        background: #fff;
        margin-top: 21px;
        margin-left: 15rem;
    }

    .Image-side {
        height: 35px !important;
        width: 35px !important;
    }

    .Headding {
        font-size: 25px !important;
        text-align: center;
        margin-top: 8px !important;
        word-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        color: #303433;
    }

    .Border-Bottom {
        width: 90px;
        height: 3px;
        background-color: #843bc7;
        margin-top: 13px;
        margin-left: 55px;

    }

    .Bubbton {
        border-radius: 30px !important;
        height: 30px;
        color: #fff;
        padding: 10px 45px;
        letter-spacing: 2px;
        font-weight: bold;
        background: #15a0e1;
        cursor: pointer;
        transition: opacity 0.4s;
        width: 130px;
        margin-top: 28px !important;
        margin-left: 40px !important;
        text-align: center !important;
    }



    .Password-Container {
        width: 200px;
        height: 35px;
        display: "flex";
        background-color: #bdc3c7;
        border-radius: 30px;
    }

    .Lock-Icon {
        color: black;
        font-size: 20px;
        line-height: 21px;
        margin-left: 11px;
    }

    .Password {
        font-size: 10px;
        font-weight: 400;
        margin-left: 11px;
        width: 65%;
        height: 75%;
        outline: none;
        border: none;
        background-color: transparent;
        line-height: 0px;
    }

    .Text {
        text-align: center;
        font-size: 1em;
        line-height: 21px;
        margin-bottom: 25px;
        color: #696969;
        white-space: 1px;
        margin-top: 11px;
    }


    .One {
        font-size: 11px !important;
        color: #2a8cdc;
        margin-top: 21px;
    }



    .Three {
        font-size: 9px !important;
        color: #2a8cdc;
        margin-top: 13px !important;

    }

    .SSpan {
        color: black;
        margin-right: 3px !important;
    }

    .Span {
        color: black;
    }
}
@media only screen and (max-width: 700px) {
    .row{
        flex-direction:column; 
        margin-left: -42px!important;
    }
    .responsive-cnfrm-pass{
        margin-left: 5px!important;
    }
    .resp-checkbox{
        margin-right: 166px!important;
    }
    .form-footer{
        margin-left: -127px!important;
    }
    .resp-text{
        margin-left: -73px!important;
    }
    .resp-errMsg{
        left: 1%;
    }
}