* {
    margin: 0px;
    padding: 0px;

}

.main-counter {
    background-color: #0C2A38;
    width: 100%;
    height: 100vh;
    /* margin-top: 500px; */
}

.assetsNmaes {
    background: #f5f5f5;
    position: relative;
    top: 18px;
    border-radius: 27px;
    text-align: center;
    width: 189px;
    padding: 12px 10px;
}
.dropdown{display:block; transition:.9s; margin-top:0;  }
.dropdown:hover{ transition: .9s; opacity:1; visibility:visible; transform: rotateX(0deg); }
p#message { 
    color: red;
    text-align: center;
}
#message { 
    color: red;
    text-align: center;
}

.Photo {
    margin-top: 20px;
    margin-left: 200px;
    word-spacing: 3px;
    float: left;
    height: auto;
}

.Button-Counter {
    border-radius: 20px !important;
}

.Button-Counter button {
    width: 190px;
    height: 40px !important;
    margin-top: 25px !important;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 14px;
    margin-left: 47rem;

}

.Dotted {
    height: 10px;
    width: 10px;
    background-color: rgb(9, 180, 32);
    border-radius: 50%;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
    margin-left: 5px;
    /* margin-left: 10px !important; */
}

.Button-Counter button:hover {
    background-color: #0fb9b1;
}


.Body2-Counter {

    margin: 10px;
    width: 97%;
    height: auto;   
    border: 2px solid rgb(233, 233, 233);
    padding: 20px;
}

.Body2-Counter button {
     width: 80px;
    height:auto;
    padding: 7px;
    background-color: #ffff;

}



.Border {
    height: 450px;
    width: 60%;
    border: 2px solid rgb(219, 219, 219);
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 90px;
    background-color: white;
}

.Boxes {
    margin-left: 55px;
    padding: 10px;
    text-align: center;
}


/* <--------button show and hide css start here--------> */
/* button 1 css  */
.Button1 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton1{
    display:none;
}

/* button 2 css  */
.Button2 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton2{
    display:none;
}

/* button 3 css  */
.Button3 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton3{
    display:none;
}

/* button 4 css  */
.Button4 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton4{
    display:none;
}

/* button 5 css  */
.Button5 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton5{
    display:none;
}

/* button 6 css  */
.Button6 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton6{
    display:none;
}

/* button 7 css */
.Button7 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton7{
    display:none;
}

/* button 8 css  */
.Button8 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton8{
    display:none;
}

/* button 9 css  */
.Button9 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton9{
    display:none;
}

/* button 10 css  */
.Button10 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton10{
    display:none;
}

/* button 11 css  */
.Button11 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton11{
    display:none;
}

/* button 12 css  */
.Button12 {
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 27px;
    border: none;
    margin: 4px;
}
.HideButton12{
    display:none;
}
/* <--------button show and hide css end here--------> */

/* Replace Button Code Start here */
.ReplaceBtn{
    
}
.ReplaceHideBtn{
   display: none;
}

/* Replace Button Code End here */

.Head2 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.Paragraph {
    text-align: center;
    font-size: small;
    margin-top: 20px
}

.end-Buttons {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
}

.one-Button {
    width: 200px;
    height: 50px;
    border-radius: 60px !important;
    background-color: #EFEFEF !important;
}

.two-Button {
    border-radius: 60px !important;
    width: 200px;
    height: 50px;
    margin-left: 17px;
    background-color: #4398e1;
}

@media only screen and (max-width: 992px) {
    .main-counter {
        background-color: #0C2A38;
        width: 100%;
        height: 100vh;
    }


    /* header css start here */
    .Body-counter {
        width: 200px;
    }

    .Photo {
        margin-top: 10px;
        margin-left: 30px;

    }

    .Button-Counter {
        border-radius: 20px !important;
    }

    .Button-Counter button {
        width: 190px;
        height: 40px !important;
        margin-top: 25px !important;
        border-radius: 30px;
        background-color: white;
        color: black;
        font-size: 14px;
        margin-left: 25rem;

    }

    .Dotted {
        height: 10px;
        width: 10px;
        background-color: rgb(9, 180, 32);
        border-radius: 50%;
        line-height: 30px;
        display: inline-block;
        margin-right: 10px;
        margin-top: 1px;
        margin-left: 5px;
    }

    .Button-Counter button:hover {
        background-color: #0fb9b1;
    }


    /* main card css start here */
    .Border {
        height: auto;
        width: 40%;
        border: 2px solid black;
        margin-left: 280px;
        border-radius: 10px;
        margin-top: 90px;
        background-color: white;
        padding: 10px;
    }

    .Head2 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .Paragraph {
        text-align: center;
        font-size: small;
        margin-top: 20px
    }

    /* card header content code end here */


    /* click button code start here */
    .Body2-Counter {
        margin-top: 50px;
        width: 200px;
        height: auto;
        margin-left: 60px;
        border: 2px solid rgb(221, 221, 221);
        padding: 20px;
    }

    .Body2-Counter button {
        padding: 5px;
    }

    /* click button code end here */

    /* all buttons css start here */
    .Boxes {
        margin-left: 0px;
        padding: 10px;
        text-align: center;
    }

    .Button {
        border-radius: 5px;
        width: 60px;
        height: 29px;
    }

    /* all buttons css end here */

    /* footer buttons css start here */
    .end-Buttons {
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 20px;
    }

    .one-Button {
        width: 130px;
        height: 45px;
        border-radius: 60px !important;
        background-color: #EFEFEF !important;
    }

    .two-Button {
        width: 130px;
        height: 45px;
        margin-left: 17px;
        border-radius: 60px !important;
        background: #4398e1;
    }

    /* footer buttons css end here */

}
input.Button {
    background: #dcdbdb;
    border: none;
    margin: 1px;
    color: #484646;
}

/* media query 791px  */
@media only screen and (max-width: 791px) {
    .main-counter {
        background-color: #0C2A38;
        width: 100%;
        height: 100vh;
    }


    /* header css start here */
    .Body-counter {
        width: auto;
    }

    .Photo {
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;

    }

    .Button-Counter {
        border-radius: 20px !important;
    }

    .Button-Counter button {
        width: 180px;
        height: 40px !important;
        margin-top: 15px !important;
        border-radius: 30px;
        background-color: white;
        color: black;
        font-size: 14px;
        margin-left: 25rem;

    }


    /* main card css start here */
    .Border {
        height: auto;
        width: 40%;
        border: 2px solid black;
        margin-left: 230px;
        border-radius: 10px;
        margin-top: 90px;
        background-color: white;
        padding: 10px;
    }

    .Head2 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .Paragraph {
        text-align: center;
        font-size: small;
        margin-top: 20px
    }

    /* card header content code end here */
    /* click button code start here */
    .Body2-Counter {
        margin-top: 50px;
        width: 200px;
        height: auto;
        margin-left: 30px;
        border: 2px solid black;
        padding: 20px;
    }
    .Body2-Counter button {
        padding: 2px;
    }
    /* click button code end here */

    /* all buttons css start here */
    .Boxes {
        margin-left: 0px;
        padding: 10px;
        text-align: center;
    }
    .Button {
        border-radius: 5px;
        width: 60px;
        height: 29px;
    }
    /* all buttons css end here */

    /* footer buttons css start here */
    .end-Buttons {
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 20px;
    }

    .one-Button {
        width: 130px;
        height: 45px;
        border-radius: 60px !important;
        background-color: #EFEFEF !important;
    }

    .two-Button {
        width: 130px;
        height: 45px;
        margin-left: 17px;
        border-radius: 60px !important;
        background: #4398e1;
    }

    /* footer buttons css end here */

}

/* media query 750px */
@media only screen and (max-width:761px) {

    .Button-Counter button {
        width: 190px;
        height: 40px !important;
        border-radius: 30px;
        background-color: white;
        color: black;
        font-size: 14px;
        margin-top: 20px !important;
        margin-left: 14rem;

    }
    /* main card css start here */
    .Border {
        height: auto;
        width: 40%;
        border: 2px solid black;
        margin-left: 230px;
        border-radius: 10px;
        margin-top: 90px;
        background-color: white;
        padding: 10px;
    }

    .Head2 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .Paragraph {
        text-align: center;
        font-size: small;
        margin-top: 20px
    }

    /* card header content code end here */


    /* click button code start here */
    .Body2-Counter {
        margin-top: 50px;
        width: 200px;
        height: auto;
        margin-left: 30px;
        border: 2px solid black;
        padding: 20px;
    }

    .Body2-Counter button {
        padding: 4px;
    }

    /* click button code end here */

    /* all buttons css start here */
    .Boxes {
        margin-left: 0px;
        padding: 10px;
        text-align: center;
    }

    .Button {
        border-radius: 5px;
        width: 60px;
        height: 29px;
    }

    /* all buttons css end here */

    /* footer buttons css start here */
    .end-Buttons {
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 20px;
    }

    .one-Button {
        width: 130px;
        height: 45px;
        border-radius: 60px !important;
        background-color: #EFEFEF !important;
    }

    .two-Button {
        width: 130px;
        height: 45px;
        margin-left: 17px;
        border-radius: 60px !important;
        background: #4398e1;
    }
    .endingdrophide{
        display: none;
    }
    /* footer buttons css end here */

}

/* media query 700px */
@media only screen and (max-width:700px) {

    .Button-Counter button {
        width: 180px;
        height: 40px !important;
        border-radius: 30px;
        background-color: white;
        color: black;
        font-size: 14px;
        margin-top: 20px !important;
        margin-left: 13rem;

    }


    /* main card css start here */
    .Border {
        height: auto;
        width: 50%;
        border: 2px solid black;
        margin-left: 140px;
        border-radius: 10px;
        margin-top: 90px;
        background-color: white;
        padding: 10px;
    }

    .Head2 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .Paragraph {
        text-align: center;
        font-size: small;
        margin-top: 20px
    }

    /* card header content code end here */


    /* click button code start here */
    .Body2-Counter {
        margin-top: 50px;
        width: 300px;
        height: auto;
        margin-left: 30px;
        border: 2px solid black;
        padding: 20px;
    }

    .Body2-Counter button {
        padding: 4px;
    }

    /* click button code end here */

    /* all buttons css start here */
    .Boxes {
        margin-left: 0px;
        padding: 10px;
        text-align: center;
    }

    .Button {
        border-radius: 5px;
        width: 60px;
        height: 29px;
    }

    /* all buttons css end here */

    /* footer buttons css start here */
    .end-Buttons {
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 20px;
    }

    .one-Button {
        width: 130px;
        height: 45px;
        border-radius: 60px !important;
        background-color: #EFEFEF !important;
    }



}

@media only screen and (max-width:700px) {

    .Button-Counter button {
        width: 160px;
        height: 40px !important;
        margin-top: 20px !important;
        margin-left: 10rem;

    }


    /* main card css start here */
    .Border {
        height: auto;
        width: 93%;
        border: 2px solid black;
        border-radius: 10px;
        margin-top: 90px;
        margin-left: 15px;
        background-color: white;
        padding: 10px;
    }

    .Head2 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    /* card header content code end here */


    /* click button code start here */
    .Body2-Counter {
        margin-top: 50px;
       
        height: auto;
     
        padding: 20px;
    }

    /* click button code end here */

    /* all buttons css start here */

    .Button {
        border-radius: 5px;
        width: 50px;
        height: 29px;
    }

    /* all buttons css end here */

    /* footer buttons css start here */
    .end-Buttons {

        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 20px;
    }

    .one-Button {
        width: 9rem;
        height: 40px;
        border-radius: 60px !important;
        background-color: #EFEFEF !important;
    }

    .two-Button {
        width: 110px;
        height: 40px;
        border-radius: 60px !important;
        background-color: #4398e1 !important;
    }
}



/* -------------------ram--------------------- */
@media only screen and (max-width:420px) {

.Man-body {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #0C2A38;
    padding: 1rem;
}

.im {
    width: 765px;
}

.im img {
    height: 48px;
    margin-top: 30px;
}

.Border{
    margin-top: 0 !important;
}

.Button-Container {
    border-radius: 20px;
}

.Button-Container Button {
    width: 174px;
    height: 50px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 14px;
}

.Button-Container Button:hover {
    background-color: #0fb9b1;
}

.Dot {

    height: 10px;
    width: 10px;
    background-color: rgb(9, 180, 32);
    border-radius: 50%;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
    margin-left: 10px;

}

}

.secretPhrase_logo{
    display: flex;
    float: left;
    width: 100%;
}
.secretPhrase_body{
    display: flex;
    flex-direction: column;
    height: 465px;
    width: 67%;
    margin-top: 32px;
    float: left;
    margin-left: 81px;
}
.SecretRecovery_Phrase{
    font-weight: 400;
    color: #314266;
    font-size: 46px;
}
.SecRecovery_phraseCont{
    font-size: 17px;
    color: rgba(35, 44, 51, 0.78);
    display: flex;
}
.SecretRec-Content{
    /* //display: flex; */
    max-width: 900px;
    background-color: white;
    color: rgba(35, 44, 51, 0.78);
    font-size: 17px;
    font-family: sans-serif;
    border: 1px solid rgba(35, 44, 51, 0.78);
    margin-top: 7px;
    padding: 40px;
}

.SecretRec-Content button {
    color: rgba(35, 44, 51, 0.78);
    width: 80px;
    height: auto;
    background-color: #ffff;
    padding-right: 5px;
}

.Secret_Boxes{
    margin-left: -15px;
    padding: 10px;
}
/* .secretBox_Elm{
    background-color: #6c757d33;
    min-width: 117px;
    color: rgba(35, 44, 51, 0.78);
    height: 33px;
    border: none;
    margin: 4px;
} */
.dash{
    border-top: 0.8px solid rgba(35, 44, 51, 0.78);
    margin-top: 29px;
    width: 53%;
    margin-bottom: -18px;
}
.HideSecret{
    margin-top: 31px;
    margin-bottom: -9px;
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-left: -7px;
    display: flex;
    width: 80%;
    background-color: white;
    padding: 6px;
}
.secretPhrase_reveal{
    margin-left: -7px;
    display: flex;
    width: 80%;
    background-color: white;
    font-size: 17px;
    padding: 6px;
    color: rgba(35, 44, 51, 0.78);
}